.row
  .col.s12.center
    %h4 Nuestros servicios

%table
  %thead
    %tr
      %th
      %th Name
      %th Description
      %th User
      %th
      %th
      %th

  %tbody
    - @services.each do |service|
      %tr
        %td= image_tag service.avatar.url(:medium), :class => "circle"
        %td= service.name
        %td= service.description
        %td= service.user
        %td= link_to 'Show', service
        %td= link_to 'Edit', edit_service_path(service)
        %td= link_to 'Destroy', service, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Service', new_service_path
